<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Polling</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Hola</h2>
      <form th:action="@{/pollings/add}" th:object="${polling}" method="post">
      
     <div class="mb-3">
    	<label for="idpollster" class="form-label">Pollster</label>
    	<select th:field="*{pollster}" id="idpollster" class="form-control">
        <option value="" disabled selected>Select a Pollster</option>
        <option th:each="pollster : ${pollsters}"
                th:value="${pollster.idpollster}"
                th:text="${pollster.pollster}">
        </option>
    	</select>
	</div>
   
   <div class="mb-3">
        <label for="poll_date" class="form-label">Poll Date</label>
        <input type="date" th:field="*{poll_date}" class="form-control" id="poll_date">
    </div>
    
    <div class="mb-3">
        <label for="poll_result" class="form-label">Poll Result</label>
        <input type="number" th:field="*{poll_result}" step="0.01" class="form-control" id="poll_result">
    </div>
    
    <div class="mb-3">
    	<label for="idcandidate" class="form-label">Candidate</label>
    	<select th:field="*{candidate}" id="idcandidate" class="form-control">
        <option value="" disabled selected>Select a Candidate</option>
        <option th:each="candidate : ${candidates}"
                th:value="${candidate.idcandidate}"
                th:text="${candidate.candidate}">
        </option>
    </select>
	</div>
	
	<div class="mb-3">
    	<label for="idterritory" class="form-label">Territory</label>
    	<select th:field="*{territory}" id="idterritory" class="form-control">
        <option value="" disabled selected>Select a Territory</option>
        <option th:each="territory : ${territories}"
                th:value="${territory.idterritory}"
                th:text="${territory.territory}">
        </option>
    </select>
	</div>
	
	
    <button type="submit" class="btn btn-success">Add</button>
    <a class="btn btn-primary" th:href="@{/pollings}">Back to List</a>
</form>
    </div>
</body>
</html>
